#**Arithmetic Operators**

#+ Addition: Adds two numbers.
# - (Subtraction): Subtracts the right operand from the left operand.
# * (Multiplication): Multiplies two numbers.
#/ (Division): Divides the left operand by the right operand.
#// (Floor Division): Divides the left operand by the right operand, discarding any remainder.
#% (Modulus): Returns the remainder of the division of the left operand by the right operand.

In [ ]:
# Arithmetic operations

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2

print("Addition", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)

Enter first number: 10
Enter second number: 15
Addition 25.0
Subtraction: -5.0
Multiplication: 150.0
Division: 0.6666666666666666
Floor Division: 0.0
Modulus: 10.0

# **Comparison Operators**

#== (Equal to)
#!= (Not equal to)
#< (Less than)
#> (Greater than)
#<= (Less than or equal to)
# >= (Greater than or equal to)

In [ ]:
# Comparison operators


value1 = 15
value2 = 25

print(value1 == value2)
print(value1 != value2)
print(value1 < value2)
print(value1 > value2)
print(value1 <= value2)
print(value1 >= value2)

False
True
True
False
True
False

# **Logical Operators**

# and (Logical AND): Returns True if both conditions are true.
# or (Logical OR): Returns True if at least one condition is true.
# not (Logical NOT): Returns True if the condition is false and vice versa.

In [ ]:
# Python program for logical operators
x = True
y = False

print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

# **Assignment Operators**

# = (Assignment): Assigns the value of the right operand to the left operand.
# += (Add and Assign)
# -= (Subtract and Assign)
# *= (Multiply and Assign)
# /= (Divide and Assign)
# //= (Floor Divide and Assign)
# %= (Modulus and Assign)

In [ ]:
# Assignment operators
a = 15
b = 2

a += b
print(a) #a=17

a -= b
print(a) #a=15

a *= b
print(a) #a=30

a /= b
print(a) #a=15

a //= b
print(a) #a=7

a %= b
print(a) #a=1

17
15
30
15.0
7.0
1.0

# **Membership Operators**

# in: Returns True if a specified value is present in the object.
# not in: Returns True if a specified value is not present in the object.

In [ ]:
# Membership operators
my_list = [1, 2, 3, 4, 5]

print(3 in my_list)
print(6 not in my_list)
print(3 not in my_list)
print(10 in my_list)

True
True
False
False

# **Identity Operators**

# is: Returns True if both variables reference the same object.
# is not: Returns True if both variables do not reference the same object.

In [ ]:
# Identity operators
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a is b)
print(a is not b)
print(a is c)
print(b is c)

False
True
True
False

#**Identifiers**

# **Valid Identifier :** Identifiers are names given to variables. They can consist of letters, digits, and underscores but cannot start with a digit.
# Example : number_1

# **Invalid Indentifier :**  Invalid identifier cannot begin with a digit.
# Example : 1_number

In [ ]:
# valid identifier
my_name = 5
print(my_name)

my_name5 = 5
print(my_name5)

#invalid identifier
#5_name = 5
#print(5_name)

5
5

# **Keywords**

# Keywords are reserved words with special meanings in Python.
# Example: if, elif, else, for, while, def, import.

# **Types of Keywords :**

# **Value Keywords :** True, False, None
  
# **Operator Keywords :** and, or, not, in, is
# **Conditional Keywords :** if, elif, else
# **Iterative & Transfer Keywords :** for, while, break, continue, else
# **Structure Keywords :** def, class, pass, with, as
# **Returning Keywords :** return, yield
# **Exception Handling Keywords :** try, except, raise, finally, else, assert
# **Variable Handling Keywords :** del, global, nonlocal


# **if :** The if statement is used to check a condition. If the condition is True, the code block indented under the if statement is executed. If the condition is False, the code block is skipped.

# **elif :** The elif, short for else if, statement is used to check an additional condition if the preceding if or elif conditions are not met. You can have multiple elif statements to test multiple conditions in sequence. If an elif condition is True, the corresponding code block is executed, and the subsequent else block (if any) is skipped and vice-versa.

# **else :** The else statement is used to provide a default code block to execute if none of the preceding if or elif conditions are True. It does not have a condition of its own. It runs when none of the previous conditions are True.

# **for :** It is used for loop iteration.

# **while :** It is used for loop iteration.

# **def :** It is used to define functions.

# **import :** It is used to import modules.

In [ ]:
num_1 = 5
num_2 = 15

#checking if num_1 is greater than num_2
if  num_1 > num_2 :
   print("num_1 is greater")

#checking if num_2 is greater than num_1
elif num_2 > num_1 :
   print("num_2 is greater")

else :
   print("num_1 is equal to num_2")

num_2 is greater

In [ ]:
#Code to print greatest number out of 3 numbers

a=int(input("Enter value of a : "))
b=int(input("Enter value of b : "))
c=int(input("Enter value c : "))

if (a>b) and (a>c):
	print("Maximum value is :",a)

elif (b>c):
	print("Maximum value is :",b)

else:
	print("Maximum value is :",c)

Enter value of a : 12
Enter value of b : 5
Enter value c : 13
Maximum value is : 13

# **Variables**

# In Python, variables are used to store and manage data. To declare a variable in Python, you simply assign a value to a name.

# In Python, one of the key features is dynamic typing, which means you don't need to explicitly declare the data type of a variable before assigning a value to it.

# **Types of Variables :**

# There are mainly two types of variables:

# **Local Variable :** They are defined inside a function and can only be accessed within that function.

# **Global Variable :** They are are defined outside any function and can be accessed throughout the program.

In [ ]:
#Variables:

name = 'sadaf' #variable was not declared as string, it was detected automatically
semester = 2   #variable was not declared as integer, it was detected automatically
cgpa = 4.00    #variable was not declared as float, it was detected automatically

print(name)
print(semester)
print(cgpa)

#Local Variable:

def x():
  local_var = 10
  print(local_var)

#print(local_var) #will give error
#Global Variable:

x()
global_var = 5
print(global_var)

sadaf
2
4.0
10
5

# **Data Types :**

# Data types represent the type of data that can be stored and manipulated in a programming language. They are important for performing operations and ensuring data integrity in programs.

# **Types of Data Types :**

# **Integer (int) :** Integer represents whole numbers without any decimal points.

# **Float :** Float represents numbers with decimal points or in scientific notation.

# **String (str) :** String represents sequences of characters. Strings are enclosed in single (') or double (") quotes

# **Boolean (bool) :** It is used to logical operations, representing True or False

# **Operators - Mutable and Immutable Conditions :**

# In Python, objects can be classified into two main categories: mutable and immutable.

# **Mutable :** Mutable objects are those whose state can be modified after creation.
# Examples: Lists, dictionaries, sets.

In [ ]:
#List
my_list = [1, 2, 3]
print(my_list)

#append() is used to add an element to a list
my_list.append(5)
print(my_list)

#remove() is used to delete an element from a list
my_list.remove(2)
print(my_list)

#Set
my_set = {15,14,35,55}
print(my_set)

#add() is used to add an element to a set
my_set.add(25)
print(my_set)

#remove() is used to delete an element from a set
my_set.remove(14)
print(my_set)

#Dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict)

#pop() is used to delete something from a dictionary
my_dict.pop('age')
print(my_dict)

#how to add something to a dictionary
my_dict['height'] = '6.9'
print(my_dict)

[1, 2, 3]
[1, 2, 3, 5]
[1, 3, 5]
{35, 15, 14, 55}
{35, 14, 15, 55, 25}
{35, 15, 55, 25}
{'name': 'John', 'age': 25, 'city': 'New York'}
{'name': 'John', 'city': 'New York'}
{'name': 'John', 'city': 'New York', 'height': '6.9'}

# **Immutable :**  Immutable objects are those whose state cannot be modified after creation.
# Examples: Strings, integers, floats, tuples.

In [ ]:
#Tuple
my_tuple = (1, 2, 3, "Hello")

# Accessing elements in a tuple
print("First element:", my_tuple[0]) #[0] is first index
print("Last element:", my_tuple[-1]) #[-1] is last index

# Trying to modify the tuple (will result in an error)
my_tuple[0] = 5  # This line will raise a TypeError

First element: 1
Last element: Hello

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Take user input for a number
num = int(input("Enter a number: ")) #defined as int (integer) because Python interprets user input as string in default

# Check if the number is even or odd using the modulus operator
if num % 2 == 0: #remainder is 0
    print(f"{num} is even.")

elif num % 2 != 0: #remainder is not 0
      print(f"{num} is odd.")
#else:
 #   print(f"{num} is odd.")

Enter a number: 10
10 is even.

In [ ]:
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))

def addition (a,b) :
  return a+b
result = addition(a,b)
print(result)

def subtraction (a,b) :
  return a-b
result = subtraction(a,b)
print(result)

def multiplication (a,b) :
  return a*b

result = multiplication(a,b)
print(result)

def division (a,b) :
  return a/b
result = division(a,b)
print(result)

Enter value of a: 5
Enter value of b: 5
10
0
25
1.0

In [ ]:
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))

def add (a,b) :
  return a+b

result = add(a,b) #calling or invoking a function
print(result)

Enter value of a: 14
Enter value of b: 34
48

In [ ]:
# Take user input for a number
num = int(input("Enter a number: "))

# Using a for loop to check multiples of 10
#print(f"The first 10 multiples of {num} are:")
for i in range(1, 11): #always goes from first number to one less than the last number in the range. So loop will go to 10 then 11 is written
    multiple = num*i
    #print(f"{num} x {i} = {multiple}") # this will print showing the calculation
    #Example : 1x10=10, 2x10=20 and so on
    print(multiple) #this will print just the output of the calculation

Enter a number: 12
12
24
36
48
60
72
84
96
108
120

In [ ]:
i = 1
while (i < 6):
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while (i < 6) :
  print(i)
  if i == 4 :
    break
  i += 1

1
2
3
4

In [ ]:
num = 0
print("Odd numbers between 1 to 10")
while(num < 10):

    num += 1
    if (num % 2) == 0:
        continue
    print(num)

Odd numbers between 1 to 10
1
3
5
7
9

In [ ]:
fruits = ['apple', 'mango', 'kiwi', 'grapes']

for fruit in fruits:
    print(fruit)

# While loop example
counter = 0
while counter < 5:
    print(counter)
    counter += 1

apple
mango
kiwi
grapes
0
1
2
3
4

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[2, 1, 3, 4, 5]

In [ ]:
rand_int = random.randint(1,10)
print(rand_int)

4